.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  width: 100%; /* Ensure it takes full width */
  position: relative; /* Ensure absolute positioning works */
}

.upper {
  flex: 1;
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  justify-content: center;
  align-items: center;
  width: 100vw; /* Ensure it takes full width */
  position: relative; /* Ensure absolute positioning works */
}

.lower {
  flex: 2;
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  justify-content: flex-start; /* Align items to the top vertically */
  align-items: center; /* Center items horizontally */
  width: 100%; /* Ensure it takes full width */
  /* background-color: red; */
}

.animated-text {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute; /* Position absolutely within the parent */
}

.line1 {
  top: 40%; /* Adjust as needed */
} 

.line2 {
  top: 65%; /* Adjust as needed */
} 

.earth-icon img {
  width: 300px; /* Adjust the width as needed */
  cursor: pointer;
  margin-top: 50px;
}

.earth-icon img {
  animation: fadeIn 2s ease-in-out;
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.form-group{
  margin-top: 20px;
}

.num-people img {
  margin-top: 30px;
  width: 200px; /* Adjust the width as needed */
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.num-people img {
  margin-top: 30px;
  width: 200px; /* Adjust the width as needed */
  cursor: pointer;
  animation: fadeIn 2s ease-in-out; /* Add the animation */
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.house-size img {
  margin-top: 30px;
  width: 200px; /* Adjust the width as needed */
  cursor: pointer;
  animation: fadeIn 2s ease-in-out; /* Add the animation */
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.window-ratio img {
  margin-top: 30px;
  width: 200px; /* Adjust the width as needed */
  cursor: pointer;
  animation: fadeIn 2s ease-in-out; /* Add the animation */
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.num-people img {
  animation: fadeIn 2s ease-in-out;
}

.house-size img {
  animation: fadeIn 2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1); /* Slightly expand the image on hover */
}

.results {
  text-align: start;
  position:fixed;
  top: 30vh;
  left: 28vw;
}