.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .footer p {
    font-size: 24px; /* Increase font size */
    margin: 0;
  }